<section class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <h1 class="font-weight-bold mb-0"> Bienvenido</h1>
        <p class="lead text-muted">Revisa la ultima informacion</p>
      </div>
      <div class="col-lg-3 d-flex">
        <button class="btn btn-success w-100 align-self-center">Descargar reporte
        </button>
      </div>

    </div>
  </div>
</section>
<section class="bg-mix">
  <div class="container">
    <div class="card rounded-0">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-3 col-md-6 d-flex stat my-3">
            <div class="mx-auto">
              <h6 class="text-muted">Ingresos Mensuales</h6>
              <h3 class="font-weight-bold">$50.000</h3>
              <h6 class="text-success"><i class="icon ion-md-arrow-dropup-circle"></i>  % 50,5</h6>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 d-flex stat my-3">
            <div class="mx-auto">
              <h6 class="text-muted">Ingresos Mensuales</h6>
              <h3 class="font-weight-bold">$50.000</h3>
              <h6 class="text-success"><i class="icon ion-md-arrow-dropup-circle"></i>  % 50,5</h6>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 d-flex stat my-3">
            <div class="mx-auto">
              <h6 class="text-muted">Ingresos Mensuales</h6>
              <h3 class="font-weight-bold">$50.000</h3>
              <h6 class="text-success"><i class="icon ion-md-arrow-dropup-circle"></i>  % 50,5</h6>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 d-flex my-3">
            <div class="mx-auto">
              <h6 class="text-muted">Ingresos Mensuales</h6>
              <h3 class="font-weight-bold">$50.000</h3>
              <h6 class="text-success"><i class="icon ion-md-arrow-dropup-circle"></i>  % 50,5</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 my-3">
        <div class="card rounded-0">
          <div class="card-header light">
            <h6 class="font-weight-bold mb-0"> Numero de Inscritos </h6>
          </div>
          <div class="card-body light">
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>

      <div class="col-lg-4 my-3">
        <div class="card rounded-0">
          <div class="card-header light">
            <h6 class="font-weight-bold mb-0"> Meets recientes </h6>
          </div>
          <div class="card-body pt-2 light">
            <div class="d-flex border-bottom py-2">
              <div class="d-flex mr-3 ">
                <h2 class="mb-0 align-self-center"><i class="icon ion-md-pricetag"></i></h2>
              </div>
              <div class="align-self-center">
                <h6 class="d-inline-block mb-0">01/10/20</h6><span class="badge badge-success ml-2"> ASISTIDO </span>
                <small class="d-block text-muted">Tecnologias Front-End</small>
              </div>
            </div>
            <div class="d-flex border-bottom py-2">
              <div class="d-flex mr-3 ">
                <h2 class="mb-0 align-self-center"><i class="icon ion-md-pricetag"></i></h2>
              </div>
              <div class="align-self-center">
                <h6 class="d-inline-block mb-0">10/10/20</h6><span class="badge badge-success ml-2"> ASISTIDO</span>
                <small class="d-block text-muted">Tecnologias Backend</small>
              </div>
            </div>
            <button class="btn btn-success w-100">Ver Todas</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
