<section class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <h1 class="font-weight-bold mb-0"> Lista de clientes</h1>
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar" name="filterPost" style="width: 50%" [(ngModel)]="filterPost">
      </div>
      <div class="col-lg-3 d-flex">
      </div>

    </div>
  </div>
</section>
<section class="bg-mix">
  <div class="container">
    <div class="card rounded-0">
      <div class="card-body">
        <div class="row d-flex justify-content-center">
          <table class="table">
            <thead>
            <tr >
              <th scope="col" class="text-center">BookingId</th>
              <th scope="col" class="text-center">Cliente</th>
              <th scope="col" class="text-center">Fecha Creación</th>
              <th scope="col" class="text-center">Dirección</th>
              <th scope="col" class="text-center">Precio</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let registro of data | filter:filterPost" class="justify-content-center">
              <th scope="row" class="text-center">{{registro.bookingId}}</th>
              <td class="text-center">{{registro.tutenUserClient.firstName}} {{registro.tutenUserClient.lastName}}</td>
              <td class="text-center">{{registro.bookingTime | date: 'dd/MM/yyyy'}}</td>
              <td class="text-center">{{registro.tutenUserProfessional.streetAddress}}</td>
              <td class="text-center">{{registro.bookingPrice | currency:'USD':false:'2.1-3'}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-gray" style="height: 55%">
  <div class="container">
    <div class="row">

    </div>
  </div>
</section>
<!--
<section class="bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 my-3">
        <div class="card rounded-0">
          <div class="card-header light">
            <h6 class="font-weight-bold mb-0"> Numero de Inscritos </h6>
          </div>
          <div class="card-body light">
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>

      <div class="col-lg-4 my-3">
        <div class="card rounded-0">
          <div class="card-header light">
            <h6 class="font-weight-bold mb-0"> Meets recientes </h6>
          </div>
          <div class="card-body pt-2 light">
            <div class="d-flex border-bottom py-2">
              <div class="d-flex mr-3 ">
                <h2 class="mb-0 align-self-center"><i class="icon ion-md-pricetag"></i></h2>
              </div>
              <div class="align-self-center">
                <h6 class="d-inline-block mb-0">01/10/20</h6><span class="badge badge-success ml-2"> ASISTIDO </span>
                <small class="d-block text-muted">Tecnologias Front-End</small>
              </div>
            </div>
            <div class="d-flex border-bottom py-2">
              <div class="d-flex mr-3 ">
                <h2 class="mb-0 align-self-center"><i class="icon ion-md-pricetag"></i></h2>
              </div>
              <div class="align-self-center">
                <h6 class="d-inline-block mb-0">10/10/20</h6><span class="badge badge-success ml-2"> ASISTIDO</span>
                <small class="d-block text-muted">Tecnologias Backend</small>
              </div>
            </div>
            <button class="btn btn-success w-100">Ver Todas</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->
