.stat {
  border-right: 1px solid #dee2e6;
}

.bg-mix {
  background: linear-gradient(180deg, #ffffff 50%, #efefef 0%);
}

.bg-gray{
  background-color: #efefef;
}

.light{
  background-color: #ffffff;
}

.table thead th {
  border-top: 0px solid #dee2e6;
}
